/* Styles for index home page */
/* Elements: welcome, panels, panel-links, cta-banner */

.welcome-banner {
    margin-top: 20px;
}

.welcome-banner img {
    max-width: 1160px;
}

.welcome-text {
    margin-bottom: 30px;
}

.panels {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top:20px;
}

.panels > .panel {
    max-width:300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 0.6em;
    transition: 0.5s;
    cursor: pointer;
}

.panel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
    transition: 0.5s;
}

.panels > .panel > a > img {
    width:100%;
    padding: 10px;
}

.panels a:link, .panels a:visited {
    color: var(--text-dark);
}

.price {
    color: var(--text-green);
}

.panel-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

.long-panel {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 0.6em;
    transition: 0.5s;
}

.long-panel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

.long-panel > img {
    width:100%;
    padding:10px;
}

.long-panel > div {
    gap:0;
}

.panel-links > p {
    margin-bottom: 10px;
}

.cta-banner {
    height: 160px;
    background-image: url(../images/redbanner.bmp);
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width:1200px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.cta-banner > :first-child {
    color: white;
}

.cta-banner > img {
    height: 30%;
    transition: ease 0.4s
}

.cta-banner > img:hover {
    height: 36%;
    transition: ease 0.3s;
}

.panel-title {
    width:100%;
    display: flex;
    justify-content: space-between;
}
